body {
    background-image: url("../images/background.jpg");
    font-family: 'Cinzel', serif;
}

.image {
    background-color: white;
}

h1 {
    color: maroon;
    font-size: 72px;
    font-weight: 900;
}

p {
    font-family: 'Lacquer', sans-serif;
    font-size: 17px;
}